<!DOCTYPE html>
<html>
    <head>
        <title>Trois Villas de R&ecirc;ves a marrakech a vendre - For sale</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

        <link rel="stylesheet" type="text/css" href="/css/jquery.mobile-1.4.5.min.css" />
        <link href="/css/photoswipe.css" type="text/css" rel="stylesheet" />
        <link href="/css/styleMobile.css" type="text/css" rel="stylesheet" />


        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-31807202-1']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();

        </script>

    </head>
    <body>
        <div data-role="page">
            <div data-role="header" id="header" data-theme="b">
                <h2>Villas Fratelli<br />
                    For sale</h2>
            </div>
            <div data-role="content">
                <br />
                <ul data-role="listview">
                    <li><a href="/" {% if page == 'home' %}class="hover"{% endif %}>Home</a></li>
                    <li><a href="/description/" {% if page == 'description' %}class="hover"{% endif %}>Description</a></li>
                    <li><a href="/rooms/" {% if page == 'rooms' %}class="hover"{% endif %}>Chambres</a></li>
                    <li><a href="/spa/" {% if page == 'spa' %}class="hover"{% endif %}>Spa</a></li>
                    <li><a href="/pool/" {% if page == 'piscine' %}class="hover"{% endif %}>Piscine</a></li>
                    <li><a href="/night/" {% if page == 'nuit' %}class="hover"{% endif %}>By
                            Night</a></li>
                    <li><a href="/contacts/" {% if page == 'contacts' %}class="hover"{% endif %}>Contacts</a></li>
                </ul>
                <br />
            {% block body %}{% endblock %}
        </div>
        {% include 'mobile/footer.twig' %}

    </div>
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="/js/klass.min.js"></script>
    <script type="text/javascript" src="/js/code.photoswipe-3.0.5.min.js"></script>

{% block js %}{% endblock %}
</body>
</html>
