<div data-role="footer" data-theme="b">
    <h5 class="copyright">Copyright &copy; 2012 <a href="https://villafratelli.com">www.villafratelli.com</a><br />
        Tous droits r&eacute;serv&eacute;s. 
    </h5>
</div>
