* {
	margin: 0px;
	padding: 0px;
}
body {
    overflow-x:hidden;
}
#mini a {width: 200px; height: 150px;	}
#pageIndex {
	padding: 10px;
	}

#tabs-1,#tabs-2 {
	text-align: center;
}

p .phone,p .email {
	font-weight: bolder;
	font-size: 48px;
}

.copyright {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
        height: 52px;
        vertical-align: middle;
}

.hover {
	background-image:
		url("https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-darkness/images/ui-bg_inset-soft_30_f58400_1x100.png");
	background-repeat: repeat-x;
	-moz-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
	font-weight: bolder;
	color: black;
	height: 50px;
}

#page h2 {
	font-family: 'Italianno', cursive;
	font-size: 64px;
	position: relative;
	color: #ff9733;
	text-align: center;
	text-shadow: 4px 4px 4px graytext;
	width: 100%;
	clear: both;
	padding: 0px;
	float: none;
}

#fb {
	background-image: url("../images/social-icon.png");
	background-position: 0 0;
	background-size: 265px 100px;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	float: left;
	cursor: pointer;
}

#ln {
	background-image: url("../images/social-icon.png");
	background-position: 75% 0px;
	background-repeat: no-repeat;
	background-size: 265px 100px;
	width: 50px;
	height: 50px;
	float: left;
	cursor: pointer;
}

footer { 
	color: #464646;
	font-size: 11px;
	text-align: center;
	color: white;
        bottom: 0px;
        width: 100%;
        position: fixed;
        vertical-align: middle;
        background-color: black;
        opacity: 0.9;
        padding-top: 5px;
}

footer a {
	color: white;
}

.wrapper {
    min-height: 100%;
    height:auto;
    height:100%
}

body {
	font-family: arial, sans-serif;
	/*background-image: url("../images/big/piscine/IMG_1175.JPG");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: black;
	padding: 0px;
	margin: 0px;
        height: 100%;*/
}

#page {
	background: url("../images/Silky2.jpg") repeat;
	width: 900px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	border-radius: 30px;
	border: 1px solid graytext;
	font-size: 16px;
}

#page a {
	text-decoration: none;
	color: white;
}

#page a:HOVER {
	text-decoration: underline;
	color: white;
}

#menu {
	margin: 0 auto;
	display: block;
	background-image:
		url("http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-darkness/images/ui-bg_gloss-wave_25_333333_500x100.png");
	background-repeat: repeat-x;
	background-size: 100% 100%;
	height: 50px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Italianno', cursive;
	font-size: 31px;
}

#menu ul {
	list-style-type: none;
	width: 920px;
	margin-left: auto;
	margin-right: auto;
}

#menu li {
	display: inline;
	margin-left: auto;
	margin-right: auto;
	width: 130px;
	text-align: center;
	min-width: 2px;
	float: left; /*pour IE*/
}

#menu ul li a {
	display: block;
	font-weight: bold;
	float: left;
	width: 120px;
	color: #F1F1F1;
	text-decoration: none;
	text-align: center;
	height: 50px;
}

#menu ul li a:hover {
	background-image:
		url("http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-darkness/images/ui-bg_inset-soft_30_f58400_1x100.png");
	background-repeat: repeat-x;
	-moz-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
	font-weight: bolder;
	color: black;
	height: 50px;
}

.jcarousel-skin-ie7 .jcarousel-container-horizontal {
	width: 800px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.jcarousel-skin-ie7 .jcarousel-item {
	width: 200px;
	height: 170px;
	border: 0px;
}

.jcarousel-skin-ie7 .jcarousel-item img {
	vertical-align: middle;
	text-align: center;
}

.jcarousel-skin-ie7 .jcarousel-clip-horizontal {
	width: 800px;
	height: 170px;
}

.jcarousel-skin-ie7 .jcarousel-container {
	background-color: transparent;
	border: 0px;
	margin-top: 150px;
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal,.jcarousel-skin-ie7 .jcarousel-next-horizontal
	{
	top: 73px;
}

.jcarousel-skin-ie7 .jcarousel-next-horizontal {
	background: url("./skins/ie7/next-horizontal.png") no-repeat scroll 0 0
		transparent;
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal {
	background: url("./skins/ie7/prev-horizontal.png") no-repeat scroll 0 0
		transparent;
}

.ui-widget-content {
	border: 0px;
	background: none;
}

#page p {
	margin-bottom: 10px;
	margin-top: 10px;
	text-indent: 40px;
	text-align: justify;
}

#description,#contacts {
	margin: 10px;
	color: white;
}

#description li {
	list-style: none;
}