{% extends "layout.twig"%}
{% set page = 'description' %}

{% block body %}
    <div id="page">
        <div id="description" style="float:left">
            <h2>Les 3 Villas Fratelli</h2>
            <p>Sur une superficie de 10.000 m&sup2; se dressent 3 somptueuses villas de 460 m&sup2; chacune compos&eacute;es d'1 s&eacute;jour : 2 salons et 1 salle a manger, 1 chambre a coucher avec SDB, 1 cuisine toute &eacute;quip&eacute;e, et 1 SDB invit&eacute;s au rez de chauss&eacute;e, et 4 suites individuelles a l'etage munies d'une belle terrasse donnant sur l'atlas.</p>
            <p>Chaque villa est independante et dispose d'une "Pool House" attenante.</p>
            <p>Les parties communes aux 3 villas sont :</p>
            <p>
            <ul><li>Une belle et grande piscine (17m x 9m) entour&eacute;e de jardins, palmiers, oliviers, et autres arbres fruitiers...</li>
                <li>Une pergola couverte de vignes pour r&eacute;ception avec bar et cuisine, four beldi, et grand barbecue.</li>
                <li>Une tente caidale de 200 m&sup2; toute &eacute;quip&eacute;e et &eacute;tanche pour les grandes f&ecirc;tes, encadr&eacute;e de part et d'autre d'un magnifique potager.</li>
                <li>Le Spa se trouve au sous-sol. il est &eacute;quip&eacute; d'un hammam pour 12 personnes, 1 jaccuzzi pour 4, 1 sauna finlandais pour 6 personnes, une salle de sport compl&egrave;te, une salle de massage, et 1 salon de repos + 1 chambre pour le rangement de mat&eacute;riel.</li>
            </ul>
            <p>A l'entr&eacute;e de la r&eacute;sidence, 2 studios ind&eacute;pendants pour les employ&eacute;s et 1 grande niche pour le chien, ainsi que 2 parking pour 10 voitures.</p>

            <p>Les 3 villas sont enti&egrave;rement meubl&eacute;es &agrave; savoir, les chambres &agrave; coucher, les SDB, les salons, les terrasses, et les cuisines.
                La piscine est &eacute;quip&eacute;e de 20 chaises longues, 2 grand bed sun, 4 grand parasols, 1 balancelle, 5 tables avec 4 fauteuils chacune, 1 douche, 1 table de Ping pong.</p>
            <p>N'hesitez pas a nous <a href="info@villafratelli.com">contacter</a> pour toute information complementaire</p>
        </div>

        <div style="clear:both"></div>
    </div>
{% endblock %}
