{% extends "layout.twig"%}

{% block title %}{% endblock %}

{% block body %}
    <div class="text-justify">
    <h1>Politique de cookies pour Textile Sexy</h1>
    <br>
    <h2>Que sont les cookies</h2>
    <br>
    Comme avec presque tous les principaux sites professionnels ce site utilise 
    des cookies, qui sont de petits fichiers qui sont téléchargés sur votre 
    ordinateur, pour améliorer votre expérience. Cette page décrit les 
    informations qu'ils recueillent, comment nous les utilisons et pourquoi 
    nous avons parfois besoin de stocker ces cookies. Nous allons également 
    vous informer de la facon d'empêcher ces cookies d'être stocké mais cela 
    peut dégrader ou «casser» certains éléments de la fonctionnalité des sites.
    <br>
    Pour plus d'informations générales sur les cookies voir l'article de 
    Wikipedia sur les cookies HTTP ...
    <br><br>
    <h2>Comment nous utilisons les cookies</h2>
    <br>
    Nous utilisons les cookies pour une variété de raisons détaillées ci-dessous.
    Malheureusement, dans la plupart des cas il n'y a pas d'options standard de 
    l'industrie pour la désactivation des cookies sans désactiver complètement 
    la fonctionnalité et les caractéristiques qu'ils ajoutent à ce site. Il est 
    recommandé que vous laissiez active cette fonctionnalité sur tous les cookies 
    si vous ne savez pas si vous en avez besoin ou non dans le cas où ils sont 
    utilisés pour fournir un service que vous utilisez.
    <br><br>
    <h2>Désactivation de cookies</h2>
    <br>
    Vous pouvez empêcher l'installation de cookies en ajustant les paramètres de 
    votre navigateur (voir votre navigateur Aide pour savoir comment faire). 
    Soyez conscient que la désactivation des cookies affectera les fonctionnalités 
    de ce et de nombreux autres sites Web que vous visitez. La désactivation des 
    cookies entraîne généralement aussi la désactivation de certaines 
    fonctionnalités et les caractéristiques du site. Par conséquent, il est 
    recommandé de ne pas désactiver les cookies.
    <br><br>
    Les cookies Nous Set
    <br>
    Ce site offre des services de bulletin ou de souscription d'email et les 
    cookies peuvent être utilisés pour se rappeler si vous êtes déjà inscrit et 
    d'afficher certaines notifications qui pourraient seulement être valide pour 
    souscrites / désabonnements.
    <br>
    Ce site offre e-commerce ou de paiement des installations et des cookies sont 
    indispensables pour faire en sorte que votre commande se souvient entre les 
    pages afin que nous puissions traiter correctement.
    <br><br>


    <h2>Cookies tiers</h2>
    <br>
    Dans certains cas particuliers, nous utilisons également des cookies fournis 
    par des tiers de confiance. Les détails de la section suivante qui les 
    cookies tiers que vous pourriez rencontrer à travers ce site.
    <br>
    Ce site utilise Google Analytics, qui est l'une des solutions d'analyse de 
    la plus répandue et de confiance sur le web pour nous aider à comprendre 
    comment vous utilisez le site et les moyens que nous pouvons améliorer votre 
    expérience. Ces cookies peuvent suivre les choses comme combien de temps vous 
    passez sur le site et les pages que vous visitez afin que nous puissions 
    continuer à produire du contenu attrayant.
    <br>
    Pour plus d'informations sur les cookies de Google Analytics, consultez la 
    page officielle Google Analytics.
    <br><br>


    <h2>Plus d'information</h2>
    <br>
    Nous éspérons avoir clarifié les choses pour vous et comme cela a été mentionné 
    précédemment, s'il y a quelque chose que vous ne savez pas si vous devez ou 
    non il est généralement plus sûr de laisser activé en cas les cookies 
    n'interagir avec l'une des fonctions que vous utilisez sur notre site. 
    Toutefois, si vous êtes toujours à la recherche de plus d'informations, 
    vous pouvez nous contacter par l'un de nos méthodes de contact préférées.
    <br>
    Email: <a href="mailto:contact@textile.sexy">contact@textile.sexy</a><br><br>
    </div>
{% endblock %}

{% block js %}
{% endblock %}